.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  margin-bottom: 2rem;
}

/*.about p {
  color: #aaa;
  margin-bottom: 2em;
}*/

.about a {
  display: block;
  margin-top: 15px;
  padding: 0.4em 0.6em;
}

.list {
  list-style: none;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;
  justify-content: space-evenly;
  gap: 1rem 7rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px){
  .container section{
    width: 95%;
  }
}

@media screen and (min-width: 600px){
  .container section{
    width: 20rem;
  }
}

.container section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 20px #3d3d3d
}

.container section p{
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.container section .p_int {
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

.container section h3 {
  margin-top: 0.5rem;
  margin-bottom: .5rem;
}