.container {
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register {
  width: 90%;

  border: 1px solid #fff;
  padding-top: .7rem;
  padding-bottom: 2rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px #3d3d3d
}

.register p {
  color: #aaa;
}