.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  margin-bottom: 0.5em;
}

.dashboard p {
  color: #aaa;
}

.nomazes {
  text-align: center;
}

.nomazes p {
  margin-bottom: 1.5em;
}

.nomazes a {
  padding: 10px 25px;
}

.maze_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  width: 97%;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.mazes_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 1rem 3rem;
}

.mazes_container p {
  color: #000;
}