.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  margin-bottom: 0.5em;
}

.dashboard p {
  color: #aaa;
}

.dashboard span {
  font-weight: bold;
}

.welcomeBanner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97%;
  min-height: 5rem;
  background-color: #add8e6;
  margin-bottom: 1.5em;
  border-radius: 15px;
  word-wrap: break-word; /* com isso o conteúdo não vai vazar da div */
  padding: 0.8rem;
}

.welcomeBanner :nth-child(1),
.welcomeBanner :nth-child(2) {
  padding-bottom: 0.8rem;
}

.welcomeBanner p {
  max-width: 100%;
  color: #000;
}

.welcomeBanner a:hover {
  color: #000;
  opacity: 0.7;
  text-decoration: underline;
}

.nomazes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(50vh - 70.94px); /*  70.94px é a altura da navbar */
}

.nomazes p {
  margin-bottom: 1.5em;
}

.nomazes a {
  padding: 10px 25px;
}

.maze_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  width: 97%;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.mazes_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 1rem 3rem;
}

.mazes_container p {
  color: #000;
}

.modal_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 1em 0em;
  border-radius: 20px;
  width: 90%;
  min-height: 9.5rem;
  word-wrap: break-word; /* com isso o conteúdo não vai vazar da div */
}

.modal_content button {
  min-width: 5.625rem;
}

@media screen and (min-width: 600px) {
  .modal_content {
    width: 40%;
  }

  .modal_content button {
    min-width: 7.625rem;
  }
}

.modal_content h3 {
  max-width: 80%;
}

.div_btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 0.2em;
}
