.main {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #add8e6;
  width: 100%;
  height: 70.94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.6) 0px -2px 10px 0px;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.brand svg {
  width: 30px;
  height: 30px;
}

.brand:hover {
  color: #000;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.navbar .menu a:hover {
  color: #eee;
}

.menuMobile {
  height: 19px;
  width: 26px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 3;
}

#checkbox_menu {
  position: absolute;
  opacity: 0;
}

.menuMobile label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.menuMobile label span {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
  /*transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.2s;*/
}

.menuMobile label span:nth-child(1) {
  top: 0;
}

.menuMobile label span:nth-child(2) {
  top: 8px;
}

.menuMobile label span:nth-child(3) {
  top: 16px;
}

#checkbox_menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  /*transform: rotate(-405deg);
  transform: rotate(-135deg);*/
  top: 8px;
}

#checkbox_menu:checked + label span:nth-child(2) {
  transform: scaleX(0);
}

#checkbox_menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  /*transform: rotate(405deg);
  transform: rotate(135deg);*/
  top: 8px;
}

.navbar #hiddenHamburger {
  right: 0;
  position: fixed;
}

.navbar .menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  margin-left: 100%;
  transition: 0.5s ease-in-out;
}

.navbar #hidden {
  opacity: 1;
  visibility: visible;
  margin-left: 0;
}

.navbar .menu a {
  font-size: 20px;
  color: #fff;
}

.navbar .menu .active {
  color: #000;
}

.navbar .menu .active:hover {
  color: #000;
}

.active {
  background-color: #fff;
  padding: 0.4em 0.6em;
  border-radius: 10px;
}

.navbar .menu .btn_logout {
  margin: 10px;
  font-size: 20px;
  background: transparent;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .menu .btn_logout:hover {
  color: #eee;
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.search_form input {
  width: 100%;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 5px;
  padding: 0.4em 0.6em;
}

.search_form button {
  border-radius: 7px;
  padding: 0.4em 0.6em;
  background-color: #000;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
}

.search_form button svg {
  width: 1.1rem;
  height: 1.1rem;
}

.search_form button:hover {
  background-color: #000;
}

@media (orientation: landscape) {
  .navbar .mobile {
    gap: 15px;
  }
}
