.maze_container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create_maze {
  width: 90%;

  border: 1px solid #fff;
  padding-top: .7rem;
  padding-bottom: 2rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}

.create_maze p {
  color: #aaa;
  margin-bottom: 2em;
}