.maze_container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create_maze {
  width: 60%;

  border: 1px solid #fff;
  padding-top: .7rem;
  padding-bottom: 2rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px #3d3d3d
}

.create_maze p {
  color: #aaa;
  margin-bottom: 2em;
}