.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h2 {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  width: 97%;
}

.search_form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search_form input {
  margin-right: 10px;
  width: 50%;
}

.nomazes {
  text-align: center;
}

.nomazes p {
  margin-bottom: 1.5em;
}

.nomazes a {
  padding: 10px 25px;
}

.mazes_container{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    9rem
  ); /* o auto-fit ajusta a quantidade de itens de acordo a largura do container */
  max-width: 97%;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 1rem 3rem;
}

