.maze {
  width: 8.2rem;
  text-align: center;
  border: 1px solid #fff;
  margin-bottom: 2rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}

.maze img {
  width: 90%;
  margin-bottom: .4em;
}

.maze h3 {
  margin-bottom: .4em;
}

.maze p {
  font-style: italic;
  font-size: small;
  margin-bottom: 1.5em;
}

.maze a {
  margin: 1em 5px;
  font-size: .9em;
  padding: 0.4em 0.6em;
}

.maze button {
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-size: .9em;
  padding: 0.4em 0.6em;
}

.modal_overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.4em 0.6em;
  border-radius: 5px;
}

.modal_content h3 {
  margin-top: .2em;
  margin-bottom: 1em;
}