h3, p {
  margin: 0;
}

.maze {
  width: 8.2rem;
  margin-bottom: 3em;
  margin-right: 1em;
  text-align: center;
}

.maze img {
  width: 100%;
  margin-bottom: .4em;
}

.maze h3 {
  margin-bottom: .4em;
}

.maze p {
  font-style: italic;
  font-size: small;
  margin-bottom: 1.5em;
}