.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info {
  width: 90%;

  border: 1px solid #fff;
  padding-top: 0.7rem;
  padding-bottom: 2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px #3d3d3d
}

.info h2 {
  color: #aaa;
}

.p_a {
  color: #aaa;
  margin-bottom: 2em;
}