.maze_container {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.maze {
  width: 60%;
  margin-top: 3rem;
  

  border: 1px solid #fff;
  padding-top: .7rem;
  padding-bottom: 1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px #3d3d3d
}

.maze_container img {
  width: 30%;
  margin-bottom: 1em;
}

.p_data {
  margin-bottom: .5em;
}

.p_a{
  color: #aaa;
  margin-bottom: 1em;
}

.maze_container button {
  margin-bottom: .5em;
}

