@media screen and (max-width: 600px){
  .maze {
    width: 97%;
    margin-top: 2rem;
  }

  .maze_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 600px){
  .maze {
    width: 60%;
    margin-top: 3rem;
  }

  .maze_container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.maze_container img {
  width: 30%;
  margin-bottom: 1em;
}

.maze_container button {
  margin-bottom: .5em;
}

